---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfBooks from '../components/ListOfBooks.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="@Jgraphiczz Portfolio">
	<main class="m-auto max-w-4xl">
		<Title />
		<ListOfBooks/>
	</main>
	<Footer />
</Layout>


